@model List<ExerciseCenter_UI.Models.TestimonialsModels.TestimonialsViewModel>
<section class="testimonials py-5" style=" height:900px; background-image: url('/ExerciseCenter/images/deneme.png'); background-size: cover;">
    <div class="container">
        <h2 class="text-center text-white">Yorumlar</h2>
        <p class="text-center text-white">Müşterilerimizin yaptığı değerli yorumlar:</p>
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="testimonial bg-white text-dark p-4 rounded mb-4 text-center">
                        <i class="fas fa-user fa-2x text-primary mb-3"></i>
                        <p>@item.Description</p>
                        <h4 class="mt-3">@item.NameSurname, @item.Job</h4>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
