@model List<ExerciseCenter_UI.Models.ServiceModels.ServiceViewModel>
<section class="services py-5">
    <div class="container">
        <h2 class="text-center">Hizmetlerimiz</h2>
        <div class="row">
            @foreach(var item in Model){
            <!-- Service Card 1 -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="@item.ImageUrl" class="card-img-top" alt="Reformer Pilates" style="height: 300px;">
                    <div class="card-body text-center">
                        <h3 class="card-title">@item.Name</h3>
                        <a href="#" class="btn btn-primary">Daha Fazla Bilgi</a>
                    </div>
                </div>
            </div>
            }
        </div> 
    </div>
</section>
