<div class="sidebar">
    <div class="profile-section">
        <img src="images/profile.jpg" alt="Admin Profil" class="profile-img">
        <h4>Admin Kullanıcısı</h4>
    </div>
    <a href="/Admin/Index" class="active">Dashboard</a>
    <a href="/Services/Index">Hizmetlerimiz</a> 
    <a href="/WhoWeAre/Index">Biz Kimiz</a>
    <a href="/BlogPosts/Index">Blog Yazılarımız</a>
    <a href="/Testimonials/Index">Yorumlar</a>
    <a href="/Testimonials/Index">Randevular</a>
    <a href="#">Çıkış Yap</a>
</div>
