<div class="sidebar">
    <div class="profile-section">
        <img src="images/profile.jpg" alt="Admin Profil" class="profile-img">
        <h4>Admin Kullanıcısı</h4>
    </div>
    <a href="/Admin/Index" class="active">Dashboard</a>
    <a href="/Services/Index">Hizmetlerimiz</a> <!-- Doğrudan action metoduna yönlendirme -->
    <a href="lavinia_egzersiz.html">Lavinia Egzersiz ve Danışmanlık Hizmetleri</a>
    <a href="blog_yazilarimiz.html">Blog Yazılarımız</a>
    <a href="yorumlar.html">Yorumlar</a>
    <a href="#">Çıkış Yap</a>
</div>
