<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lavinia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ExerciseCenter/styles.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="~/ExerciseCenter/images/logo.png" alt="Lavinia Logo" style="height: 110px; width: 200px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/Appointment/Index" class=" btn">Randevu Al</a></li>           
                    <li class="nav-item"><a href="#61" class="nav-link" style="color: black;">Hizmetlerimiz</a></li>
                    <li class="nav-item"><a href="#64" class="nav-link" style="color: black;">Hakkımızda</a></li>
                    <li class="nav-item"><a href="#62" class="nav-link" style="color: black;">Yazılarımız </a></li>
                    <li class="nav-item"><a href="#63" class="nav-link" style="color: black;">Müşterilerimiz </a></li>
                    <li class="nav-item"><a href="#65" class="nav-link" style="color: black;">İletişim</a></li>
                    <li class="nav-item"><a href="/Login/Index" class=" btn">Giriş </a></li> 
                    <li class="nav-item"><a href="/Login/Index" class=" btn">Kayıt </a></li>
                    <li class="nav-item"><a href="/Admin/Index" class=" btn">Admin </a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <section class="hero">
        <div class="hero-content">
            <h1>Kendine bir iyilik yap <br> Bedenini harekete geçir</h1>
            <a href="/Appointment/Index" class="btn">Hemen Başla</a>
        </div>
    </section>

    <!-- Services Section -->
    @RenderBody()

    <!-- About Section -->
    @RenderBody()

    <!-- Blog Section -->
    @RenderBody()

    <!-- Testimonials Section -->
    @RenderBody()

    <!-- Footer -->
    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row footer-content">
                <!-- Logo Section -->
                <div  class="col-md-4 text-center mb-4">
                    <img src="images/logo.png" alt="Lavinia Logo" class="mb-2" style="height: 140px;">
                    <p>Lavinia Egzersiz ve Danışmanlık Merkezi</p>
                    <div class="social-icons mt-2">
                        <a href="#" class="text-light mx-2"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-light mx-2"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-light mx-2"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <!-- Contact Section -->
                <div id="65" class="col-md-4 mb-4">
                    <h3 class="text-primary text-center">İletişim Bilgileri</h3>
                    <p><i class="fas fa-map-marker-alt"></i> Adres: Orta, İnönü Cd. No:61, 61300 Akçaabat/Trabzon</p>
                    <p><i class="fas fa-envelope"></i> Email: info@lavinia.com</p>
                    <p><i class="fas fa-phone-alt"></i> Telefon: 0561 661 61 61</p>
                    <a href="#" class="btn btn-primary d-block mt-3">RANDEVU AL</a>
                </div>
                
            </div>
            <div class="footer-bottom text-center mt-3">
                <p>© Copyright 2020 - 2024 | Lavinia Egzersiz ve Danışmanlık Merkezi | Tüm hakları saklıdır | Design SelmanKara</p>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="~/ExerciseCenter/script.js"></script>
</body>
</html>
